<div class="index">
	<h3>Blocipedia: Social, Markdown Wikis</h3>
	<div class="center">
		<h4>Create and share Markdown Wikis</h4>
		<%= link_to "Sign Up", new_user_registration_path, class: "button" %>
	</div>
	<div class="grid">
		<div class="six columns alpha">
			<h4>Create as many public wikis as you want!</h4>
		</div>
		<div class="six columns omega"> Create Private Wikis</div>
	</div>
</div>