// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
	text-align: center;
}
.container {
	border: solid 3px #ccc;
	margin: 50px;
}
.button {
	margin: 15px;
}
.middle{
	position: fixed;
}